@import url('https://fonts.googleapis.com/css?family=Inter|Open+Sans&display=swap');
body,
html {
  font-family: Inter;
  height: 100%;
  margin: auto;
  overflow: scroll;
}

#reviews-here {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
