@import url('https://fonts.googleapis.com/css?family=Inter|Open+Sans&display=swap');

#whole-app {
  font-family: Inter;
  margin-left: 25%;
  margin-right: 25%;
}

.user-info {
  color: black;
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-bottom: 5px;
}

.review-info {
  color: black;
  width: 350px;
}

.review-date {
  font-size: 12px;
  color: grey;
}

.separation-line {
  background-color: #b8b8b8;
  height: 1.3px;
  border-radius: 20px;
  margin-bottom: 38px;
  margin-top: 10px;
}

.user-picture {
  border-radius: 50px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.user-name {
  font-family: Inter;
  font-size: 15px;
  font-weight: 900;
}

.review-body {
  color: black;
  font-family: Inter;
  font-size: 15px;
  font-weight: lighter;
  word-spacing: 3px;
}

.single-review {
  color: black;
  margin-top: 2em;
  margin-right: 1.5em;
  flex: 50%;
}

#reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  column-gap: 125px;
}

.review-text {
  color: black;
}

#reviews-here {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}

.progress-bar {
  background-color: rgb(175, 169, 169);
  width: 10em;
  border-radius: 20px;
  height: 4px;
  display: block;
  float: right;
  margin-top: 6px;
}

.progress-bar > div {
  background-color: rgb(0, 0, 0);
  width: 0.5em;
  border-radius: 20px;
  height: 4px;
}

#star-rating-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: lighter;
  font-size: 12px;
  margin-top: 18px;
  grid-row-gap: 15px;
  column-gap: 110px;
}

#rating-average {
  color: black;
  font-weight: 900;
  font-size: 20px;
}

.rating-value {
  float: right;
  margin-left: 10px;
  font-weight: bold;
}

.rating-bar {
  width: 379px;
}

.rating-titles {
  color: black;
  font-size: 15px;
}

#star-image {
  margin-right: 10px;
}

/* .separation-line {
  background-color: #b8b8b8;
  height: 1.3px;
  border-radius: 20px;
  margin-bottom: 38px;
  margin-top: 10px;
} */

.read-more-btn {
  display: inline-block;
  font-weight: 600;
  color: black;
}

.inner-popup {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 10%;
  background: white;
  overflow-y: scroll;
  border-radius: 25px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.reviews-ratings-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.reviews-ratings-container {
  padding: 55px;
}

#close-all-reviews {
  padding: 2px;
  margin: 3px;
  border: none;
  font-size: 34px;
  margin-left: 21px;
  outline: none;
  position: fixed;
}

.show-all-reviews {
  position: relative;
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;
}

#show-all-reviews:active {
  background-color: #eeeeee;
  outline: none;
  border: 0.5px solid black;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
}

.star-ratings-column {
  float: left;
  position: fixed;
}

.all-reviews-rating {
  margin-top: 10px;
}

.progress-bar-all-reviews {
  background-color: rgb(175, 169, 169);
  width: 7em;
  border-radius: 20px;
  height: 5px;
  display: block;
  float: right;
  margin-top: 9px;
  margin-right: 10px;
}

.progress-bar-all-reviews > div {
  background-color: rgb(0, 0, 0);
  width: 0.5em;
  border-radius: 20px;
  height: 5px;
}

.all-reviews-star-title {
  color: black;
  font-size: 13px;
  margin-right: 22px;
}
.all-reviews-star-value {
  color: black;
  float: right;
  margin-left: 10px;
  font-weight: bold;
  font-size: 10px;
  margin-top: 6px;
}

.all-reviews-display {
  padding-bottom: 70px;
}

.reviews {
  float: right;
  width: 501px;
}

.all-review-body {
  width: 480px;
}

#all-rating-average {
  color: black;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 30px;
}

#show-all-stars {
  width: 320px;
}
